# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Pipenv
Pipfile.lock

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Mac specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Mac VS Code
*.code-workspace